Repository QuanTH02/movie-management-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format, frontend-typescript

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run: pre-commit install
# To run manually: pre-commit run --all-files

repos:
  # Python formatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|sql)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Python code formatting with black
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3
        files: ^Film_BE/.*\.py$

  # Python import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: ^Film_BE/.*\.py$

  # Python linting with flake8
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,W503']
        files: ^Film_BE/.*\.py$
        additional_dependencies: [flake8-docstrings]

  # Frontend: ESLint
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd Film_FE && npm run lint -- --fix'
        language: system
        types: [file]
        files: ^Film_FE/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        always_run: false

  # Frontend: Prettier
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Prettier
        entry: bash -c 'cd Film_FE && npx prettier --write "app/**/*.{ts,tsx,js,jsx}" "*.{js,json}"'
        language: system
        types: [file]
        files: ^Film_FE/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
        always_run: false

  # Frontend: TypeScript check
  - repo: local
    hooks:
      - id: frontend-typescript
        name: Frontend TypeScript Check
        entry: bash -c 'cd Film_FE && npx tsc --noEmit'
        language: system
        types: [file]
        files: ^Film_FE/.*\.(ts|tsx)$
        pass_filenames: false
        always_run: false

  # Run tests (optional - can be slow, comment out if needed)
  # - repo: local
  #   hooks:
  #     - id: frontend-tests
  #       name: Frontend Tests
  #       entry: bash -c 'cd Film_FE && npm test -- --passWithNoTests'
  #       language: system
  #       pass_filenames: false
  #       always_run: false
  #       stages: [pre-push]

  # - repo: local
  #   hooks:
  #     - id: backend-tests
  #       name: Backend Tests
  #       entry: bash -c 'cd Film_BE && pytest --maxfail=1 -q'
  #       language: system
  #       pass_filenames: false
  #       always_run: false
  #       stages: [pre-push]

Feat: Add i18n
  Film_FE/app/(guest)/login/page.tsx
  Film_FE/app/(guest)/register/page.tsx
  Film_FE/app/(loggedin)/browse/page.tsx
  Film_FE/app/(loggedin)/cast-and-crew/page.tsx
  Film_FE/app/(loggedin)/content/page.tsx
  Film_FE/app/(loggedin)/detail/page.tsx
  Film_FE/app/(loggedin)/editor-function/page.tsx
  Film_FE/app/(loggedin)/img/page.tsx
  Film_FE/app/(loggedin)/profile/page.tsx
  Film_FE/app/(loggedin)/search/page.tsx
  Film_FE/app/(loggedin)/setting/page.tsx
  Film_FE/app/(loggedin)/user-review/page.tsx
  Film_FE/app/components/common/BannerCarousel/BannerCarousel.tsx
  Film_FE/app/components/common/Footer/Footer.tsx
  Film_FE/app/components/common/Input/Input.tsx
  Film_FE/app/components/common/MovieCard/MovieCard.tsx
  Film_FE/app/components/common/MovieCarousel/MovieCarousel.tsx
  Film_FE/app/components/common/Navbar/Navbar.tsx
  Film_FE/app/components/common/Toast/Toast.tsx
  Film_FE/app/components/detail/BoxOfficeSection/BoxOfficeSection.tsx
  Film_FE/app/components/detail/DetailsSection/DetailsSection.tsx
  Film_FE/app/components/detail/DidYouKnowSection/DidYouKnowSection.tsx
  Film_FE/app/components/detail/MovieHeader/MovieHeader.tsx
  Film_FE/app/components/detail/MovieIntro/MovieIntro.tsx
  Film_FE/app/components/detail/MovieMedia/MovieMedia.tsx
  Film_FE/app/components/detail/RecommendationsSidebar/RecommendationsSidebar.tsx
  Film_FE/app/components/detail/StorylineSection/StorylineSection.tsx
  Film_FE/app/components/detail/TopCastSection/TopCastSection.tsx
  Film_FE/app/components/detail/UserReviewsSection/UserReviewsSection.tsx
  Film_FE/app/layout.tsx
  Film_FE/app/lib/i18n/index.tsx
  Film_FE/app/lib/i18n/translations/en.ts
  Film_FE/app/lib/i18n/translations/ja.ts
  Film_FE/app/lib/validations/auth.schema.ts
  Film_FE/app/page.tsx
  Film_FE/package-lock.json
  Film_FE/package.json
  Film_FE/tailwind.config.ts
Due: frontend-lint, frontend-format, frontend-typescript

text link color
  Film_FE/app/components/detail/DetailsSection/DetailsSection.tsx
  Film_FE/app/components/detail/MovieIntro/MovieIntro.tsx
  Film_FE/app/components/detail/StorylineSection/StorylineSection.tsx
  Film_FE/tailwind.config.ts
Due: frontend-lint, frontend-format, frontend-typescript

Fix: docker FE node 20
  Film_FE/Dockerfile
  Film_FE/Dockerfile.dev
Due: none

Fix: docker FE
  Film_FE/Dockerfile.dev
  Film_FE/docker-entrypoint.sh
  Film_FE/package-lock.json
Due: frontend-format

Feat: add component-controller and validate
  Film_FE/app/(guest)/login/page.tsx
  Film_FE/app/(guest)/register/page.tsx
  Film_FE/app/(loggedin)/setting/page.tsx
  Film_FE/app/components/common/Avatar/Avatar.tsx
  Film_FE/app/components/common/Avatar/index.ts
  Film_FE/app/components/common/BannerCarousel/BannerCarousel.tsx
  Film_FE/app/components/common/Calendar/Calendar.tsx
  Film_FE/app/components/common/Calendar/CalendarController.tsx
  Film_FE/app/components/common/Calendar/index.ts
  Film_FE/app/components/common/Checkbox/Checkbox.tsx
  Film_FE/app/components/common/Checkbox/CheckboxController.tsx
  Film_FE/app/components/common/Checkbox/index.ts
  Film_FE/app/components/common/Combobox/Combobox.tsx
  Film_FE/app/components/common/Combobox/ComboboxController.tsx
  Film_FE/app/components/common/Combobox/index.ts
  Film_FE/app/components/common/Input/Input.tsx
  Film_FE/app/components/common/Input/InputController.tsx
  Film_FE/app/components/common/Input/index.ts
  Film_FE/app/components/common/MovieCarousel/MovieCarousel.tsx
  Film_FE/app/components/common/Radio/Radio.tsx
  Film_FE/app/components/common/Radio/RadioController.tsx
  Film_FE/app/components/common/Radio/index.ts
  Film_FE/app/components/common/Select/Select.tsx
  Film_FE/app/components/common/Select/SelectController.tsx
  Film_FE/app/components/common/Select/index.ts
  Film_FE/app/components/common/Table/Table.tsx
  Film_FE/app/components/common/Table/index.ts
  Film_FE/app/components/detail/MovieIntro/MovieIntro.tsx
  Film_FE/app/components/detail/RecommendationsSidebar/RecommendationsSidebar.tsx
  Film_FE/app/components/detail/TopCastSection/TopCastSection.tsx
  Film_FE/app/components/detail/UserReviewsSection/UserReviewsSection.tsx
  Film_FE/app/globals.css
  Film_FE/app/lib/constants/index.ts
  Film_FE/app/lib/constants/ui.ts
  Film_FE/app/lib/constants/validation.ts
  Film_FE/app/lib/validations/auth.schema.ts
  Film_FE/app/page.tsx
  Film_FE/tailwind.config.ts
  Film_FE/test/setup/test-utils.tsx
  docker-compose.yml
Due: frontend-lint, frontend-format, frontend-typescript

Feat: Add rules BE
  Film_BE/rules/01_project_structure.md
  Film_BE/rules/02_models_and_database.md
  Film_BE/rules/03_api_design.md
  Film_BE/rules/04_service_layer.md
  Film_BE/rules/05_authentication_and_authorization.md
  Film_BE/rules/06_testing_guidelines.md
  Film_BE/rules/07_error_handling.md
  Film_BE/rules/08_async_task_processing.md
  Film_BE/rules/09_environment_variables_and_config.md
  Film_BE/rules/10_code_style_and_conventions.md
  cursor/rules/django_backend_standards.mdc
  cursor/rules/index.mdc
  cursor/rules/rule_fix_bug.mdc
Due: none

Feat: Refactor BE v2 auth
  Film_BE/Film_BE/settings.py
  Film_BE/apps/core/authentication.py
  Film_BE/apps/core/permissions.py
  Film_BE/apps/reviews/views.py
  Film_BE/apps/users/urls.py
  Film_BE/apps/users/views.py
  Film_BE/requirements.txt
Due: none

Feat: Refactor BE v3
  Film_BE/apps/movies/services/recommendation_service.py
  Film_BE/apps/reviews/services/review_service.py
  Film_BE/apps/users/services/like_movie_service.py
Due: none

Feat: Refactor BE v4
  Film_BE/App_Film_BE/urls.py
  Film_BE/apps/reviews/urls.py
  Film_BE/apps/users/urls.py
Due: none

Feat: Refactor BE v5
  Film_BE/App_Film_BE/admin.py
  Film_BE/App_Film_BE/models.py
  Film_BE/App_Film_BE/tests.py
  Film_BE/App_Film_BE/tests/README.md
  Film_BE/App_Film_BE/tests/test_example.py
  Film_BE/App_Film_BE/tests/test_factories.py
  Film_BE/App_Film_BE/tests/test_integration.py
  Film_BE/App_Film_BE/tests/test_models.py
  Film_BE/App_Film_BE/tests/test_views.py
  Film_BE/apps/movies/tests/test_views.py
  Film_BE/apps/reviews/tests/test_views.py
  Film_BE/apps/users/tests/test_services.py
  Film_BE/apps/users/tests/test_views.py
  Film_BE/test_all_apis.py
Due: none

Fix: FE login
  Film_BE/App_Film_BE/urls.py
  Film_BE/Film_BE/settings.py
  Film_BE/apps/core/authentication.py
  Film_BE/apps/core/middleware.py
  Film_BE/apps/movies/services/movie_data_service.py
  Film_BE/apps/movies/views.py
  Film_BE/apps/users/views.py
  Film_FE/app/(guest)/login/page.tsx
  Film_FE/app/(guest)/register/page.tsx
  Film_FE/app/components/common/Navbar/Navbar.tsx
  Film_FE/app/components/common/Toast/Toast.tsx
  Film_FE/app/lib/api/useApi.ts
  Film_FE/app/page.tsx
  Film_FE/static/js/api/api_func.js
  Film_FE/static/js/api/api_main.js
  Film_FE/types/api.types.ts
Due: frontend-lint, frontend-format, frontend-typescript

Feat: Page Rating
  Film_FE/app/(loggedin)/rating/page.tsx
  Film_FE/app/lib/api/hooks/index.ts
  Film_FE/app/lib/api/hooks/useGetMovieRating.ts
  Film_FE/app/lib/i18n/translations/en.ts
  Film_FE/app/lib/i18n/translations/ja.ts
  Film_FE/package-lock.json
  Film_FE/package.json
Due: frontend-lint, frontend-format, frontend-typescript

Fix: hydration error
  Film_FE/app/(loggedin)/rating/page.tsx
Due: frontend-lint, frontend-format, frontend-typescript

Feat: Recommendation tracking activity
  Film_BE/App_Film_BE/migrations/0007_remove_followfilmuser_movie_and_more.py
  Film_BE/App_Film_BE/urls.py
  Film_BE/App_Film_BE/views.py
  Film_BE/apps/movies/migrations/0001_initial.py
  Film_BE/apps/movies/services/recommendation_service.py
  Film_BE/apps/movies/urls.py
  Film_BE/apps/movies/views.py
  Film_BE/apps/reviews/migrations/0001_initial.py
  Film_BE/apps/users/admin.py
  Film_BE/apps/users/migrations/0001_initial.py
  Film_BE/apps/users/migrations/0002_add_aggregate_rating_to_followfilmuser.py
  Film_BE/apps/users/migrations/0003_add_aggregate_rating_column_sql.py
  Film_BE/apps/users/models.py
  Film_BE/apps/users/serializers.py
  Film_BE/apps/users/services/user_activity_tracking_service.py
  Film_BE/apps/users/tests/test_user_activity_tracking.py
  Film_BE/apps/users/urls.py
  Film_BE/apps/users/views.py
  Film_FE/app/(loggedin)/detail/page.tsx
  Film_FE/app/components/common/MovieCard/MovieCard.tsx
  Film_FE/app/components/detail/MovieMedia/MovieMedia.tsx
  Film_FE/app/lib/api/hooks/index.ts
  Film_FE/app/lib/api/hooks/useGetRecommendRealtime.ts
  Film_FE/app/lib/api/hooks/useTrackActivity.ts
  Film_FE/app/lib/i18n/translations/en.ts
  Film_FE/app/lib/i18n/translations/ja.ts
  Film_FE/app/page.tsx
  Film_FE/types/api.types.ts
Due: frontend-lint, frontend-format, frontend-typescript

Fix: docker
  Film_BE/Dockerfile
  Film_BE/docker-entrypoint.sh
  Film_BE/requirements_utf8.txt
  Film_FE/Dockerfile.dev
  Film_FE/app/components/common/Navbar/Navbar.tsx
  Film_FE/app/page.tsx
  Film_FE/docker-entrypoint.sh
  docker-compose.yml
Due: frontend-lint, frontend-format, frontend-typescript

Feat: Search by NL
  .env
  .gitignore
  Film_BE/App_Film_BE/urls.py
  Film_BE/App_Film_BE/views.py
  Film_BE/Film_BE/settings.py
  Film_BE/apps/movies/management/__init__.py
  Film_BE/apps/movies/management/commands/__init__.py
  Film_BE/apps/movies/management/commands/generate_movie_embeddings.py
  Film_BE/apps/movies/services/ai_query_service.py
  Film_BE/apps/movies/services/movie_embedding_service.py
  Film_BE/apps/movies/services/movie_filter_service.py
  Film_BE/apps/movies/services/vector_search_service.py
  Film_BE/apps/movies/urls.py
  Film_BE/apps/movies/views.py
  Film_BE/conftest.py
  Film_BE/requirements.txt
  Film_BE/requirements_utf8.txt
  Film_FE/app/(loggedin)/browse/page.tsx
  Film_FE/app/(loggedin)/content/page.tsx
  Film_FE/app/(loggedin)/search/page.tsx
  Film_FE/app/lib/api/hooks/index.ts
  Film_FE/app/lib/api/hooks/useGetAllMovies.ts
  Film_FE/app/lib/api/hooks/useNaturalLanguageSearch.ts
  Film_FE/app/page.tsx
  docker-compose.yml
Due: frontend-lint, frontend-format, frontend-typescript
